Options -Indexes
<FilesMatch "\.(?:php|phtml|phar|php[0-9]*)$">
  Require all denied
</FilesMatch>
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set Cache-Control "public, max-age=31536000, immutable"
</IfModule>
